/* .hero {
  display: flex;
  gap: 50px;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  height: 100vh;
}
.hero .banner {
  flex: 1;
}
.hero .banner h1,
.hero .banner p {
  max-width: 650px;
}
.hero .banner h1 {
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 40px;
}
.hero .banner p {
  color: #111;
  letter-spacing: 2px;
}
.hero .banner span {
  position: absolute;
  right: -300px;
  top: -200px;
  z-index: -1;
}
.hero .banner:first-child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.hero .banner:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.animated-image {
  animation: moveUpDown 1s infinite alternate ease-in-out;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}
@media (max-width: 1186px) {
  .hero .banner span {
    right: -400px;
  }
  .hero .banner h1 {
    font-size: 32px;
  }
}
@media (max-width: 1085px) {
  .hero .banner span {
    right: -480px;
    top: -315px;
  }
}
@media (max-width: 925px) {
  .hero {
    flex-direction: column;
  }
  @media (max-width: 700px) {
    .hero {
      padding-bottom: 40px;
    }
  }
} */



.hero {
   overflow: hidden;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.section {
   margin: 0 auto;
   padding: 5rem 0 2rem;
}

.hero-container {
   max-width: 75rem;
   margin: 0 auto;
   padding: 0 1.25rem;
}

.banner-column {
   display: grid;
   align-items: center;
   row-gap: 2rem;
  scrollbar-width: none;
  

   @media only screen and (min-width: 48rem) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: center;
   }

   @media only screen and (min-width: 64rem) {
      grid-template-columns: 1fr max-content;
      column-gap: 2rem;
   }
}

.banner-image {
   display: block;
   max-width: 25rem;
   height: auto;
   object-fit: cover;
   justify-self: center;

   @media only screen and (min-width: 48rem) {
      order: 1;
      max-width: 23rem;
   }

   @media only screen and (min-width: 64rem) {
      max-width: 33rem;
   }
}

.banner-inner {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   row-gap: 1.5rem;
}

.heading-xl {
   font-family: inherit;
   font-weight: 700;
   font-size: 3rem;
   letter-spacing: -1px;

   @media only screen and (min-width: 48rem) {
      font-size: 2.5rem;
   }
}

.logo-text {
  color: #9f6e4c;
}

.paragraph {
   font-family: inherit;
   color: inherit;
   text-wrap: balance;
}

.animated-image {
  animation: moveUpDown 1s infinite alternate ease-in-out;

}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(20px);
  }
}